@charset "UTF-8";
/* CSS Document */

body{
	margin: 0 0 50px 0;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 12px;
}

*{
	box-sizing: border-box;
}

.row{
	padding: 0 50px;
	max-width: 1000px;
	margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    width: 100%;
	float: left;
    padding: 0 15px;
}

@media (min-width: 600px) {
    .col-4 {
		width: 33.33%;
	}
}

h1{
	font-family: Gotham, Helvetica Neue, Helvetica, Arial,"sans-serif";
	margin: -10px 0 20px 0;
	text-align: center;
	font-size: 42px;
	cursor: default;
}

h2{
	font-family: Gotham, Helvetica Neue, Helvetica, Arial,"sans-serif";
	text-align: left;
	font-size: 24px;
	cursor: default;
}

p{
	font-family: Gotham, Helvetica Neue, Helvetica, Arial,"sans-serif";
	font-size: 12px;
	line-height: 20px;
}

form {
	width: 300px;
	margin: 0 auto 25px;
}

input{
	box-sizing: border-box;
	border: 1px solid;
    border-radius: 4px;
	padding: 7px;
}

input[type=text] {
	margin: 8px 0;
	width: inherit;
}

input[type=submit]{
	width: 150px;
	margin: 8px 75px;
	cursor: pointer;
}

input[type=checkbox]{
	cursor: pointer;
}

.background{
	background-image: url(imgs/img1.jpg);
	background-size: cover;
	background-position: center center; 
	width: 100%;
	height: 400px;
	margin: 0 0 50px 0;
}

.backgroundNew{
	background-image: url(imgs/img2.jpg);
	background-size: cover;
	background-position: center center; 
	width: 100%;
	height: 400px;
	margin: 0 0 50px 0;
}